
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');






body{
    /* background:linear-gradient(#E6E9F0 70%,#EEF1F5 30%); */
    background-color:#EEF1F5 ;
    font-family: "Poppins", sans-serif;
}

.input-container{
    background-color: white;
    width:60%;
    margin: auto;
    margin-top: 4rem;
    padding:40px;
}
input
{
height:2rem;
outline:none;
width:17rem;
font-size: 18px;
padding:0px 5px;
border:none;
border:1px solid rgba(128, 128, 128, 0.626);
}
button{
    height:2.3rem;
    background-color: #2f56d4 ;
    width:8rem;
    font-size: 18px;
    color:white;
    border:none;
    outline:none;
    margin: 10px;
}
button:hover{
    border:1px solid #2f56d4;
    background-color: transparent;
    color:black;
}
.refresh-btn{
    margin: 10px;
    background-color: red;
}
.refresh-btn:hover{
    border:1px solid red;
    background-color: transparent;
    color:black;
}
.output-list{
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.555);
    text-align: left;
    margin-top: 10px;
    padding:20px;
    overflow:auto;
}
/* .output-list{

} */